:root {
  --color-primary-dark: #ffbb00;
  --color-primary-medium: #fcd303;
  --color-primary-light: #fce803;
  --color-highlight: #cead1a;
  --color-grey-light: #faf9f9;
  --color-grey-light-two: #f4f2f2;
  --color-grey-dark: #999;
  --color-black: #000;
  --color-red: #ff0000;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-medium), var(--color-primary-light) );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 80rem;
  background-color: var(--color-grey-light);
  box-shadow: 0 2rem 6rem rgba(0,0,0,.6);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  grid-template-rows: repeat(max-content, 1fr);
}

.header {
  background-color: var(--color-primary-dark);
  border-bottom: 1px solid var(--color-grey-dark);
  align-items: center;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.book-heading-1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  display: grid;
  justify-self: center;
  align-self: center;
}

.book-time {
  grid-column: 4 / -1;
  grid-row: 2 / span 1;
  font-family: inherit;

  display: grid;
  justify-self: center;
  align-self: center;
}

.book-search {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.book-search__input {
  background-color: var(--color-grey-light-two);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  padding: .7rem 2rem;
  border-radius: 10rem;
  width: 65%;
  transition: all .2s;
}

.book-search__input::-webkit-input-placeholder {
  font-weight: 100;
}
.book-search__input::input-placeholder {
  font-weight: 100;
}

.book-search__input:focus {
  background-color: var(--color-grey-light-two);
  outline: none;
  width: 70%;
}

.book-search__button {
  background-color: var(--color-grey-light-two);
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  padding: .7rem 2rem;
  border-radius: 10rem;
}

.book-results {
  background-color: var(--color-grey-light);
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  border-bottom: 1px solid var(--color-grey-dark);
  grid-column: 1 / -1;
  grid-row: 2 / 6;

  display: grid;
  align-items: center;
  justify-items: center;
}

.book-gallery {
  padding: 2rem;
  margin: 2rem;
}

.btn-book-read {
  border: none;
  padding: 1rem;
  margin: 2rem;
  background-color: var(--color-highlight);
  cursor: pointer;
}

.btn-book-read:hover {
  background-color: var(--color-primary-medium);
}

.footer {
  background-color: var(--color-primary-dark);
  padding: 1rem;
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;

  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  align-items: center;
  justify-items: center;
}

.footer a {
  display: grid;
  justify-items: center;
}

.footer a:link,
.footer a:active {
  color: var(--color-black);
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-red);
}

/*Utility Classes*/
.center {
  text-align: center;
}

/*Media Screens*/
/* 600px */
@media only screen and (max-width: 37.5em) {
  .book-heading-1 {
    grid-row: 1 / -1;
    grid-column: 2 / span 2;
  }

  .book-time {
    visibility: hidden;
  }

  .book-search {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
  }

  .book-search__input {
    width: 75%;
    margin-bottom: 1rem;

  }

  .book-search__input:focus {
    width: 75%;
  }
}

/* 900 px */
@media only screen and (max-width: 56.25em) {
  .container {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}